<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.yy.test.NewTest"/>
    </classes>
  </test> <!-- Test -->
   <listeners>	
		<listener class-name="com.yy.listener.TestResultListener"></listener>
		<listener class-name="com.yy.listener.RetryListener"></listener>
	
		
		<!-- ExtentReport 报告  -->
		<listener class-name="com.yy.listener.ExtentReporterListener"></listener>
	</listeners>
</suite> <!-- Suite -->
